@import "../styles/main.scss";
.parent {
  display: flex;
  // width: 1440px;
  height: 979px;

  &__sidenav {
    width: 220px;
    height: 979px;
  }
  &__container {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    height: 979px;
    background: #e5e5e5;
    flex-grow: 2;
    &__card-header {
      max-width: 1139px;
      margin-top: 33px;
      display: flex;
      flex-direction: row;

      column-gap: 25px;
    }
    &__sections-sidebar-card {
      display: flex;
      &__sections {
        &__section-1 {
          width: 816px;
          height: 338px;
        }
        &__section-2 {
          width: 816px;
          height: 269px;
        }
      }
    }

    &__sidebar-card {
      display: flex;
      justify-content: right;
      margin-left: 30px;
      margin-top: 30px;
    }
  }
}
