@import "../../styles/main.scss";

.p-map {
  min-width: 816px;
  min-height: 269px;
  margin-top: 30px;

  background: #ffffff;
  border-radius: 10px;
  display: flex;

  &__section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    svg {
      g:hover {
        stroke: blue;
      }
    }
  }
  &__section-2 {
    width: 50%;
    &__text-month {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 32px;
      &__text {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 18px;

        margin-top: 29px;
      }
      &__month {
        display: flex;
        justify-content: space-between;
        min-width: 110px;
        min-height: 42px;
        align-items: center;

        background: #ffffff;
        border: 1px solid rgba(133, 134, 136, 0.16);
        border-radius: 10px;

        margin-top: 17px;
        margin-right: 23px;
        &__text {
          font-family: "Inter";
          font-size: 16px;
          font-weight: 500;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          color: #858688;

          margin-left: 10px;
        }
        &__image {
          width: 12.83px;
          height: 7.01px;
          margin-right: 10px;
        }
      }
    }
    &__country-section {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      
      &__image {
        width: 16px;
        height: 16px;

        border-radius: 11.4286px;
      }
      &__name {
        min-width: 90px;
        height: 18px;
        margin-left: 10px;

        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;

        color: #000000;
      }
      &__progress {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        margin-left: 20px;

        color: #858688;
      }
      &__progress-bar {
        margin-left: 16px;
      }
    }
  }
}
